.containerHome {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 150px 20px;
}

/* HERO */
.presentationHome {
    display: flex;
    justify-content: center;
    align-items: center;
}

.borderPresentation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    max-width: 1000px;
    background-color: #ffff;
    padding: 40px;
    border-radius: 20px;
    color: black;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.imagePresentation img {
    width: 250px;
    filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.5));
}

.titleHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.titleHome h1 {
    font-size: 2.2rem;
}

.titleHome p {
    font-size: 1.1rem;
    opacity: 0.8;
}

.ctaButton {
    padding: 12px 25px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}


/* CATEGORIAS */
.categoriesSection {
    text-align: center;
}

.categoriesSection h2 {
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.categoriesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.categoryCard {
    padding: 30px;
    border-radius: 15px;
    background-color: #f4f4f4;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
}

.categoryCard:hover {
    transform: translateY(-5px);
}


@media (max-width: 768px) {
    
    .containerHome{
        padding: "120px 100px";
    }

    .borderPresentation {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .imagePresentation img {
        width: 180px;
    }

    .titleHome h1 {
        font-size: 1.8rem;
    }
}