.cartWidget h1{

    font-size: 1.4rem;
    text-align: center;

    color: #323232;

}

.cartLink{
    display: flex;
    justify-content: center;
    align-items: center;
}


.cartLink a{
    display: flex;
    gap: 2px;
}