.formContainer {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.formContainer h1 {
  text-align: center;
  font-size: 1.4rem;
}

.formContainer span{
  color: red;
  text-align: center;
}


.formStyle {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.formStyle label {
  font-size: 1rem;
}

.formStyle input {
  font-size: 0.9rem;
  width: 400px;
  height: 40px;
  padding: 10px;

  transition: all ease 0.4s;
  border: 1px solid #333;
  opacity: 0.5;
}

.formStyle input:focus {
  border: none;
  opacity: 0.8;
}

.formStyle input:active {
  transform: scale(0.98);
}

.banner {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.btnCompra {
  display: flex;
  justify-content: center;
}

.btnCompra button {
  padding: 10px;
  font-size: 0.9rem;
  border-radius: 10px;
  background-color: #10651b;
  color: white;
  opacity: 0.9;
}

.formStyle span{
  font-size: 0.9rem;
}

.shop{
  padding: 140px 100px;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shopStyle{
  background-color: #ffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  padding: 20px;
  height: 200px;
  width: 400px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

@media (max-width: 768px) {
  
  .formStyle input {
    width: 300px;
  }

  .formStyle span{
    font-size: 0.8rem;
    text-align: center;
  }
  
  .shopStyle{
    width: 300px;
    height: 400px;
  }
}