.EmptyCartContainer{
    padding: 140px 100px;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.EmptyCartStyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    height: 400px;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.titleEmpty h1{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-align: center;
    gap: 5px;
}

.EmptyCartContainer a{
    padding: 10px;
    border-radius: 20px;
    font-size: 1.4rem;
    text-align: center;
    background-color: #333;
    color: white;
}

@media (max-width: 768px) {

    .EmptyCartStyle{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        width: 300px;
    }
    
.titleEmpty h1{
    font-size: 1.1rem;
}
.EmptyCartContainer a{
    font-size: 0.9rem;
    text-align: center;
}
    
}