footer {
  background-color: #8c7c6d;
  color: #260801;
}

.copy {
  color: #260801;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
}

.copy h1 {
  font-size: 1rem;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}


.copy a{
  border-radius: 5px;
}

@media (max-width: 768px) {
  .copy h1{
    font-size: 0.8rem;
  }
}