footer {
    background-color: #8C7C6D;
    color: #260801;
    height: 120px;
}

.footerContainer {
    max-width: 1400px;
    margin: auto;
    padding: 80px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}