.containerItemCount{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.styleCount{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;

}

.buttonRestar, .buttonSumar{
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding: 5px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

button{
    border: none;
    cursor: pointer;
}