
.itemListContainer{
    padding: 100px 40px;

}

.titleListContainer {
    font-size: 1.2rem;
    text-align: center;
}

.containerManga{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;

    margin: 20px;
}


.imageManga img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imageManga{
    width: 200px;
    height: 300px;
}

.mangaCard{
    background-color: #f5f5f5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: all 0.4s;
}

.mangaCard:hover{
    transform: translateY(-5px);
}

.infoManga{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    color: #323232;
}

.infoManga h2{
    font-size: 1.2rem;
    margin-bottom: 10px;

}

.mangaCard h3{
    font-size: 1rem;
    font-weight: normal;
    opacity: 0.8;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {

    .titleListContainer {
        font-size: 1rem;
    }
    
}