
.itemListContainerr{
    padding: 100px 40px;

    display: flex;
    flex-direction: column;
    gap: 20px;

}

.titleListContainer {
    font-size: 1rem;
    text-align: center;
}

.errorBusqueda h2{
    font-size: 1.2rem;

    text-align: center;
    color: red;
    
    padding: 100px 40px;

}

@media (max-width: 768px) {

    .titleListContainer {
        font-size: 1rem;
    }
    
}