
.containerItem{
    padding: 120px 40px;
    display: flex;
    justify-content: center;
}


.cardManga{
    background-color: #f5f5f5;
    padding: 10px;
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.imgStyle img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.imgStyle{ 
    width: 300px;
    height: 400px;
}

.cardManga h1{
    font-size: 1.4rem;
}

.textInformation{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    background-color: #f5f5f5;
}

.textInformation h2{
    font-size: 1.2rem;
    font-weight: 400;
    max-width: 800px;
    text-align: end;
    opacity: 0.8;
}

.LinkStyle{
    padding: 30px;
}

.icon{
    display: flex;
    align-items: center;
    
    font-size: 1.2rem;

}

