header {
  background-color: #ddd0c8;
  height: 80px;
  width: 100%;
  padding: 20px;

  top: 0;
  position: fixed;

  box-shadow: 0 1px 2px #323232;
  z-index: 999;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.divLogo {
  font-size: 1rem;
  font-weight: bold;
}

.divLinks {
  display: flex;
  gap: 10px;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  color: #323232;
  cursor: pointer;
}

.itemToggle {
  display: none;
  cursor: pointer;
}

.itemToggle span {
  width: 30px;
  height: 4px;
  background-color: #323232;
  margin-bottom: 5px;
  border-radius: 2px;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  header {
    height: auto;
    padding: 20px;
  }

  .divLinks {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #c9b1a3;
    opacity: 0.9;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    gap: 50px;
    transform: translateX(-100%);
    transition: transform 0.4s ease;
    z-index: 999;
    border: 1px solid white;
  }


  .divLinks.open {
    transform: translateX(0);
  }

  .itemToggle {
    display: flex;
    flex-direction: column;
    z-index: 1000;
  }

  .open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .open span:nth-child(2) {
    opacity: 0;
  }

  .open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}
