header {
  background-color: #8C7C6D;
  height: 100px;
  width: 100%;
  padding: 20px;

  top: 0;
  position: fixed;

  box-shadow: 0 1px 0 #BFAE9F;
  z-index: 999;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.divLogo img{
  height: 100%;
  width: 100%;
  }

.divLogo{
  height: 80px;
  width: 80px;
}

.divLinks {
  display: flex;
  gap: 20px;
  font-size: 1.1rem;
  align-items: center;
}

a {
  text-decoration: none;
  color: #260801;
  cursor: pointer;
}

.itemToggle {
  display: none;
  cursor: pointer;
}

.itemToggle  {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.productosDropdown {
    position: relative;
    cursor: pointer;
}


.productosDropdown h2{
  font-size: 1.1rem;
  color: #260801;
  font-weight: 500;
}

.dropdownMenu {
    position: absolute;
    top: 28px;
    left: 0;
    background: white;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 160px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    z-index: 999;
    transition: all 0.4s ease;
}




.dropdownMenu a {
    text-decoration: none;
}

.dropdownMenu a:hover {
    text-decoration: underline;
}


.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: 998;
}

@media (max-width: 768px) {

  .divLinks {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #F2DAC4;
    height: 100vh;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    transform: translateX(100%);
    transition: transform 0.4s ease;
    z-index: 999;
  }

  .divLinks.open {
    transform: translateX(0);
  }

  .itemToggle {
    display: block;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
  }

  .dropdownMenu {
    position: static;
    box-shadow: none;
    background: transparent;
    align-items: center;
  }
}
