header {
  background-color: #8C7C6D;
  height: 100px;
  width: 100%;
  padding: 20px;

  top: 0;
  position: fixed;

  box-shadow: 0 1px 0 #BFAE9F;
  z-index: 999;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.divLogo img{
  height: 100%;
  width: 100%;
  }

.divLogo{
  height: 80px;
  width: 80px;
}

.divLinks {
  display: flex;
  gap: 10px;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  color: #260801;
  cursor: pointer;
}

.itemToggle {
  display: none;
  cursor: pointer;
}

.itemToggle span {
  width: 30px;
  height: 4px;
  background-color: #323232;
  margin-bottom: 5px;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.productosDropdown {
    position: relative;
    cursor: pointer;
}

.productosDropdown h2{
  font-size: 1.1rem;
  color: #260801;
  font-weight: 500;
}

.dropdownMenu {
    position: absolute;
    top: 28px;
    left: 0;
    background: white;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 160px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    z-index: 999;
    transition: all 0.4s ease;
}




.dropdownMenu a {
    text-decoration: none;
}

.dropdownMenu a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
  header {
    height: auto;
    padding: 20px;
  }

  .divLinks {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #F2DAC4;
    opacity: 0.9;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    gap: 50px;
    transform: translateX(-100%);
    transition: transform 0.4s ease;
    z-index: 999;
    border: 1px solid white;
  }


  .divLinks.open {
    transform: translateX(0);
  }

  .itemToggle {
    display: flex;
    flex-direction: column;
    z-index: 1000;
  }

  .open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .open span:nth-child(2) {
    opacity: 0;
  }

  .open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}
