.inputStyle input {
    width: 300px;
    height: 20px;
    padding: 15px;

    font-size: 0.9rem;
    color: inherit;

    border: 1px solid #BFAE9F;
    transition: all ease 0.4s;

}

.inputStyle input:focus {
    border: none;
    background-color: #BFAE9F;
    color: black; 
}

.inputStyle input:active {
    transform: scale(0.98);
}

.inputStyle {
    padding-left: 80px;
}

@media (max-width: 768px) {

    .inputStyle {
        padding-left: 20px;
    }

}